<div class="navbar">
  <div class="logo">Salah Tracker</div>
  <% if session[:user_id] %>
    <%= button_to "Logout", session_path, method: :delete, class: "logout-btn" %>
<% end %>
</div>
<div class="container">
  <div class="form-container">
    <%= form_with model: @salah, local: true do |form| %>
      <div class="form-group">
        <%= form.label :salah_name %>
        <%= form.select :salah_name, ['Fajr', 'Zuhar', 'Asar', 'Maghrib', 'Isha'], {}, { id: 'salah_name' } %>
      </div>

      <div class="form-group">
        <%= form.label :where_prayed %>
        <%= form.select :where_prayed, ['Masjid', 'Home', 'Other'], {}, { id: 'where_prayed' } %>
      </div>
      <div id="prayed_at_home_why_container" class="form-group" style="display: none;">
      <%= form.label :prayed_at_home_why, "Reason (Home/Other)" %>
      <%= form.text_area :prayed_at_home_why %>
    </div>

      <div class="form-group">
        <%= form.label :prayed_timeliness, "Timeliness" %>
        <%= form.select :prayed_timeliness, ['On Time', 'Early', 'Late'], {}, { id: 'prayed_timeliness' } %>
      </div>

      <div id="reason_container" class="form-group" style="display: none;">
        <%= form.label :reason, "Reason (Timeliness)" %>
        <%= form.text_area :reason %>
      </div>

      <div class="form-group">
        <%= form.label :prayed_congregation, "Congregation" %>
        <%= form.select :prayed_congregation, ['Yes', 'No'], include_blank: true %>
        <%= form.label :prayed_time, "Time" %>
        <%= form.time_field :prayed_time %>
      </div>

      <div class="form-group">
        <%= form.label :transportation, "Transport" %>
        <%= form.select :transportation, ['Walked', 'Car', 'Bus', 'Other'], include_blank: true %>
        <%= form.label :concentration, "Focus Level" %>
        <%= form.select :concentration, ['High', 'Moderate', 'Low'], include_blank: true %>
      </div>

      <div class="form-group">
        <%= form.check_box :sunnah_prayed, {}, true, false %>
        <%= form.label :sunnah_prayed, "Sunnah Prayed" %>
        <%= form.check_box :tasbih_done, { id: 'tasbih_done' }, true, false %>
        <%= form.label :tasbih_done, "Tasbih Done" %>
      </div>

      <div id="tasbih_concentration_container" class="form-group" style="display: none;">
        <%= form.label :tasbih_concentration, "Tasbih Focus" %>
        <%= form.select :tasbih_concentration, ['High', 'Moderate', 'Low'], include_blank: true %>
      </div>

      <div class="form-group">
        <%= form.submit "Save Salah" %>
      </div>
    <% end %>
  </div>
</div>
